// APP FONT
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
body {
	font-family: "Mulish", sans-serif;
	line-height: 1.2;
}
a {
	color: $success;
	text-decoration: none;

	&:hover {
		color: $success;
	}
}

// UTILITY CLASSES
input,
textarea {
	border: none;
	outline: none;
	padding: 15px;
	border-radius: 0.5rem;
}
textarea {
	width: 100%;
	border: 1.4px solid #bdbdbd;
}
select {
	border: 0;
	outline: none;
	padding: 8px;
	border-radius: 8px;
}
label {
	display: block;
	margin-bottom: 9px;
}
.cursor {
	cursor: pointer;
}

// !background class
.bg_light {
	background-color: $light !important;
	border-color: $light;
}
// text colors
.text_light {
	color: #bdbdbd;
}
.text_lighter {
	color: #666666;
}
// BUTTON CLASSES
._btn {
	border: none;
	outline: none;
	border-radius: 4px;
	padding: 12px;
}
.btn_success {
	background-color: $success;
	color: #fff;
}
// * border class
.border_light {
	border: 1px solid $light;
}
.border-success {
	border: 1.5px solid $success;
}
.ant-picker.ant-picker-borderless {
	border: 1.4px solid #bdbdbd !important;
	padding: 8px;
	width: 100%;
	margin: 10px 0;
}
.ant-btn-primary {
	background-color: $success;
	border: 0;

	&:hover {
		background-color: $success;
		color: #fff !important;
	}
}
.ant-modal-header,
.ant-modal-close-x {
	display: none;
}
.ant-btn:hover {
	color: $success;
	border-color: $success;
}
// .ant-modal-close-x {
// 	d
// 	line-height: 20px;
// 	svg {
// 		fill: $success;
// 	}
// }
