// APP FONT
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Mulish", sans-serif;
	line-height: 1.2;
}

// UTILITY CLASSES
input {
	border: none;
	outline: none;
	padding: 15px;
	border-radius: 0.5rem;
}
// !background class
.bg_light {
	background-color: $light;
}
// * border class
.border_light {
	border: 1px solid $light;
}
