.search {
	position: relative;
	.search-form {
		flex: 2;
		.input-field {
			position: relative;
			.search-icon {
				position: absolute;
				top: 22%;
				left: 5%;
				font-size: 1.2rem;
				// color: $light;

				@media screen and (min-width: 991px) {
					left: 2%;
				}
			}
			input {
				padding: 0.8rem 3rem;
				width: 100%;
			}
		}
	}
	.filter-button {
		width: 50px;
		cursor: pointer;
	}
	.query {
		position: absolute;
		width: 88%;

		.btn-outline-success:hover {
			color: $success !important;
		}
	}
	.table {
		overflow: hidden;
		.table-head {
			background-color: #fafafa;
		}
		.search-table-body {
			td {
				font-weight: 400;
				padding: 1rem 0.6rem;
			}
			img {
				cursor: pointer;
			}
		}

		thead > tr > th {
			border-bottom: 2px solid #fafafa;
			padding: 0.8rem 0;
		}
	}
}
// ORDER DETAILS
.order-info {
	border: 1px solid #dddfe5;
	border-radius: 4px;
	h6,
	p {
		margin: 5px 0 0 0;
		font-size: 14px;
	}
	.title {
		color: #666666;
	}
}

// service
.service {
	border: 1px solid $light;
	.search-input {
		flex: 2;
		.input-field {
			width: 100%;
			position: relative;
			.search-icon {
				position: absolute;
				top: 22%;
				left: 5%;
				font-size: 1.2rem;
				// color: $light;

				@media screen and (min-width: 991px) {
					left: 2%;
				}
			}
			input {
				padding: 0.8rem 2.8rem;
				width: 100%;
			}
		}
	}
	.service-card {
		border-radius: 8px;
		min-height: 133px;
		h5 {
			font-size: 1rem;
			font-weight: bold;
		}
	}
}
